<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<!--text-start - text-center - text-end-->
<div class="container-fluid text-center">
<!--    display-->
    <h1 class="display-1">HI!</h1>
    <div>
<!--        lead-->
<!--        text-decoration-underline-->
        <p class="lead text-decoration-underline">say hello to world.</p>
        <p class="lead text-decoration-line-through">and next go to the</p>
<!--        bold and bolder-->
        <p class="fw-bolder text-danger">fuck</p><p class="fw-bold"> all them</p>
<!--        text color and background color-->
        <p class="text-white bg-primary">white text on primary background</p>
    </div>
</div>

</body>
</html>