<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body class="lead bg-secondary">
<div class="container-fluid text-center">
    <div class="text-light"><h2>Manage Users</h2></div>
    <div class="m-2">
        <a th:href="@{/users/new}"><button type="button" class="btn btn-light text-success btn-lg m-2" disabled> +Add New User </button></a>
    </div>
    <div th:if="${massage}" class="alert alert-success text-center">
        [[${massage}]]
    </div>
    <div>
        <table class="table table-bordered p-4 mt-4  container-fluid text-center shadow text-center">
            <thead>
                <tr class="bg-dark text-light lead">
                    <th>ID</th>
                    <th>E-mail</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Enabled</th>
                    <th>Add New Post</th>
                    <th>Controller</th>
                </tr>
            </thead>

            <tbody>
            <th:block th:each="user : ${ListUsers}">
                <tr class="bg-light m-2">
                    <td>[[${user.id}]]</td>
                    <td>[[${user.email}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td>[[${user.enable}]]</td>
                    <td>
                        <a th:href="@{'/posts/new/'+${user.id}}"><button type="button" class="btn btn-success btn-lg m-2" disabled> + </button></a>
                    </td>
                    <td>
                        <a th:href="@{'/users/edit/' + ${user.id}}"><button type="button" class="btn btn-warning text-light btn-lg m-2" disabled> Edit </button></a>
                        <a th:href="@{'/users/delete/' + ${user.id}}"><button type="button" class="btn btn-danger btn-lg m-2" disabled> Delete </button></a>
                        <a th:href="@{'/posts/' + ${user.id}}"><button type="button" class="btn btn-info text-light btn-lg m-2" disabled> Post </button></a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>

    </div>

</div>

</body>
</html>